.configuration-section {

  .sample-container {
    margin-bottom: 40px;
  }

  .primary-swatch {

    #primary {
      height: 400px;
      width: 100%;
      margin: 10px 0;
      vertical-align: top;
    }

    #sample-rgb {}
  }

  .primary-variants {
    .swatch {
      width: 14%;
      float: left;
      margin-right: 0;
      margin-left: 0;
      border: solid 1px #f7f7f7;

      .swatch-color {
        height: 50px;
        padding: 5px 0;

        .swatch-color-label {
          font-size: 1em;
        }
      }
    }

  }

  .primary-variants:after {
    display: table;
    content: "";
    clear: both;
  }

  .swatch {
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 0px 5px 10px;
    width: 100%;
    display: inline-block;

    header {
      font-weight: bold;
      padding: 5px;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
    }
    .swatch-color {
      height: 75px;
      width: 100%;
      background-color: transparent;
      padding: 5px;
    }
    .swatch-color-label {
      font-size: 1.4em;
      padding: 12px;
      display: block;
    }
  }
}


.styleguide {
  margin: 40px 0;

  .display {

    .anchor {
      color: inherit;
      text-transform: uppercase;
    }
  }

  .markup.section {
    margin: 10px 0 40px;



    .markup-controls {
      margin: 10px 0 20px;
      display: none;
    }

    .source {
      display: none;
    }
  }
}


